.menu__img{
  margin: 0 auto;
  margin-bottom: 13px;
}

@media screen and (min-width:768px){
  .menu__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}