.order__swiper-list{
 margin: 0 0 0 20px;
}

@media  screen and (min-width: 768px) {
 .order__swiper-list{
   margin: 0;
   gap:20px 30px;
 }
 .swiper-wrapper{
  display: flex;
  flex-wrap: wrap;
 }
}