.order__swiper-item{
  background-color: var(--primary-color);
  border-radius: 10px;
  color: #fff;
  text-align: end;
  padding: 15px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  transition: all .5s;
  width: 260px;
}

.order__swiper-item:active{
  background-color: var(--secondary-yellow-color);
  transform: scale(.95);
}

.order__swiper-item::before{
  content: 'One time offer!';
  background-color: var(--secondary-yellow-color);
  color: black;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -7%;
  padding: 4px 10px;
}

@media screen and (min-width: 768px){
  .order__swiper-item{
    flex-wrap: wrap;
    justify-content: center;
    flex: 130px;
    width: 150px;
    background-color: var(--primary-color-transparent);
    border: 2px solid var(--primary-color);
    color: black;
    gap: 11px 40px;
  }
  .order__swiper-item::before{
    display: none;
  }
  .order__swiper-item:hover{
    background-color: var(--primary-color);
  }
  .order__swiper-item:active{
    background-color: var(--secondary-yellow-color);
    transform: scale(.95);
  }
  .order__swiper-item:hover::before{
    display: block;
    opacity: 1;
    transition: all .4s;
    z-index: 99999;
    top: 0;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
  }
}