.profile__pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    grid-area: img;
}

@media screen and (min-width: 768px) {
    .profile__pic{
        width: 49px;
        height: 49px;
    }
}