.menu__list-img{
  background-color: rgba(149, 100, 170, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: all .5s;
}

.menu__list-img:hover{
  transform: scale(1.05);
}

#message.menu__list-img{
  background-image: url(../../../images/message-icon.svg);
}

#photo.menu__list-img{
  background-image: url(../../../images/eye-icon.svg);
}

#presents.menu__list-img{
  background-image: url(../../../images/present-icon.svg)
}

#premium.menu__list-img{
  background-image: url(../../../images/like-icon.svg)
}


@media screen and (min-width:768px){
  .menu__list-img{
    width: 50px;
    height: 50px;
  }
}