.menu__list-item{
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 800;
}